@charset "utf-8";

/* Global */

:root {
    --mainbg: #ffffff;
    --subbg: #fffffc;
    --subaccent: #336b87;
    --letterblack: #2a3132;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    color: var(--letterblack);
    background: var(--mainbg);
    margin: 0;
    padding: 0;
    font-family: "system-ui", sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--letterblack);
}

/* End of Global */

/* top__menu */

#menu3 {
  display: none;
}

/* End of top__menu */

/* title__ber */

.title__ber {
  height: 4rem;
  width: 100%;
  background: var(--subbg);
  text-align: center;
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  top: 0;
  z-index: 20;
}

.top__menu {
  width: 100%;
}

.title__ber h1.company__logo a img {
  width: 212px;
  height: 4rem;
  margin-left: 1rem;
  z-index: 0;
}

.title__ber ul {
  display: flex;
  border: green 3px solid;
  width: 100%;
  margin: 0px;
  padding-left: 50%;
}

.title__ber ul li {
  flex-direction: row;
  height: 64px;
  width: 100%;
  padding-top: 10px;  
  color: var(--letterblack);
}

nav.top__menu ul li a span {
  display: block;
  font-size: 12px;
  font-weight: normal;
  opacity: 0.7;
  color: var(--letterblack);
}

/* End of head__wrapper */

/* top__images__wrapper */

.top__image__wrapper.slide__wrapper { margin: 5px;}
.top__image__wrapper.slide__wrapper.slide__area { width: 100%; height: auto;}

.slide__wrapper {
  width: 100%;
}

.slide__wrapper.slide__area {
  opacity: 0.5;
  transition: 0.2s linear;
}


.slide__area img {
  width: 100%;
}


/* スライドのセンター画像を非透過・サイドを透過 */
.slick-slider .slick-track, .slick-slider .slick-list{
  background: #fff;
}
.slick-initialized .slick-slide{
  opacity: 0.4; /* 両サイドの画像を透過 */
}
.slick-initialized .slick-slide.slick-active{
  opacity: 1; /* センター画像を非透過 */
}
/* END OF スライドのセンター画像を非透過・サイドを透過 */

.slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.prev-arrow {
  left: 5%;
  z-index: 10;
}
.next-arrow {
  right: 5%;
}
/* End of top__images */

/* main__wrapper */

.about__us {
  width: 70%;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
}

.about__us p {
  width: 75%;
}

.about__us__button {
  display: inline-block;
  width: 25%;
  padding: 0 1.6rem;
  margin-left: 4rem;
  font-size: 1em;
  text-decoration: none;
  user-select: none;
  border: 1px var(--letterblack) solid;
  border-radius: 6px;
  transition: 0.4s ease;
  letter-spacing: 0.5rem;
}

.about__us__button img {
  padding-top: 1rem;
}

.about__us a.content {
  font-size: 1.5rem;
}

.about__us__button:hover {
  color: var(--subbg);
  background: var(--letterblack);
}

.fa-arrow-right {
  margin-left: 0.5em;
}

/* End of main__wrappe */


/* news__wrapper */
.news__wrapper {
  display: block;
  width: 70%;
  margin: auto;
  margin-top: 3rem;
}

.news__wrapper h2 span {
  opacity: 0.6;
  font-weight: lighter;
}
.news__wrapper h2 span.subtitle {
  font-size: 1rem;
}

.table__wrapper table {
  padding: 20px 10px;
  line-height: 3;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 20px;
  width: 95%;
  border-collapse: collapse;
}
.table__wrapper th {
  width: 9rem;
  color:var(--letterblack);
  font-weight: bold;
  letter-spacing: 0.1rem;
  border-bottom: 1px solid var(--letterblack);
}
.table__wrapper td {
  padding-left: 9em;
  border-bottom: 1px solid var(--letterblack);
}

.whatsnew {
  background: var(--subaccent);
  color: #FFF;
  font-size: 70%;
  line-height: 1.5;
  padding: 2px 5px;
  border-radius: 4px;
  margin: 0px 5px;
  vertical-align: text-top;
}
/* End of news__wrapper */



/* 枠の確認 */
/* .head__wrapper {
  border: 3px solid red;
}
.title__ber {
  border: 3px solid blue;
} */

@media (max-width:768px) {

  div.title__ber {
    display: none;
  }

  .menu3 {
    display: block;
    width: 40px;
    font-size: 0;
    float: right;
  }
  
  .menu3-1,
  .menu3-2,
  .menu3-3 {
    box-sizing: border-box;
    display: inline-block;
    width: 40px;
    height: 4px;
    margin: 4px 0;
    background-color: #333;
    border-radius: 4px;
    transition: all 0.4s;
  }
  
  #menu3:checked ~ .menu3-1 {
    transform: translateY(12px) rotate(-45deg);
  }
  
  #menu3:checked ~ .menu3-2 {
    opacity: 0;
  }
  
  #menu3:checked ~ .menu3-3 {
    transform: translateY(-12px) rotate(45deg);
  }

  .top__image__wrapper {
    margin-top: 40px;
  }
  
}
